<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/home/bridgeit/Madhavi_p/chatapp/public/assets/main.css" />
</head>
<body>
    
</body>
</html><div class="registration">
        <form>
          <label>Firstname</label>
          <input type="text" />
          <p class="error"></p>

          <label>Lastname</label>
          <input type="text" />
          <p class="error"></p>
      
      
          <label>Password</label>
          <input type="text" />
          <p class="error">
          </p>
      
          <label>Password</label>
          <input type="text" />
          <p class="error">
          </p>
      
          <label>email-id</label>
          <input type="text" />
          <p class="error">
          </p>
      
          <label>Gender</label>
          <select name="Female">
            <option>Female</option>
            <option>Male</option>
          </select>  
      
          <div class="register_button">
            <span><a href="#">REGISTER</a></span>
          </div>
        </form>
      </div>