<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login-form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="screen" href="../assets/main.css" />
   <script src ="app.js"></script>
</head>
<body>

<form >
<div class="box">
<h1 style ="font-family:'Times New Roman', Times, serif"><b>CHATAPP</b></h1>
<br>
<div>
<label><b>Username:</b> </label>
<input type="username" name="username" placeholder="Enter your name " class="username" /></div>
<div>
        <label><b>Password:<b></label>
  
<input type="password" name="email" placeholder="Enter your password " class="password" /></div>
  
<a href="#"><div class="button1">Login</div></a>

<a href="#/register"><div class="button2">SignUp</div></a> 

</div> 
  
</form>

</body>
</html>

