<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/home/bridgeit/Madhavi_p/chatapp/public/assets/main.css" />
</head>

<body>
    <form id='register-form' action="" method='post'>
        <div>
            <label>Firstname:</label> <input type="text" placeholder="Enter your firstname" required>
        </div>
        <div>
            <label>Lastname:</label> <input type="text" placeholder="Enter your lastname" required>
        </div>
        <div>
                <label>Username:</label> <input type="text" placeholder="Enter Username" required>
            </div>

        <div>
            <label>Email-id:</label> <input type="email" placeholder="Enter your email-id" required>
        </div>
        <div>
            <label>Password:</label> <input type="password" placeholder="Enter your assword" required>
        </div>
        <div>
            <label>Confirm Password:</label> <input type="password" placeholder="Confirm your password" required>
        </div>
        <div>
            <label>Gender:</label> <select>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
        </div>
        <div>
            <button type='submit'>submit</button>
        </div>

    </form>


</body>