<body><div>  
  <div>
      <h1> Registration Form</h1>
</div>
    
<div class="registration">
        <form>
          <label>Firstname</label>
          <input type="text" placeholder="Enter your first name "/>
          <p class="sample"></p>

          <label>Lastname</label>
          <input type="text" placeholder="Enter your last name "/>
          <p class="sample"></p>
      
      
          <label>Password</label>
          <input type="password" placeholder="Enter the password" />
          <p class="sample">
          </p>
      
          <label>Mobile Number</label>
          <input type="number"placeholder="Enter your mobile number" />
          <p class="sample">
          </p>
      
          <label>email-id</label>
          <input type="text"placeholder="Enter your email-id " />
          <p class="sample">
          </p>
      
          <label>Gender</label>
          <select name="Female">
            <option>Female</option>
            <option>Male</option>
          </select>  
      
          <div class="register_button">
            <span><a href="#">REGISTER</a></span>
            
          </div>
        </form>
      </div>
    </div>
  </body>

   